{% raw %}
<script id="tpl-github-org-repos" type="text/x-handlebars-template">
  <ul>
    {{#each . }}
      {{#unless private}}
        <li><a href="{{html_url}}">{{name}}</a> : {{description}}</li>
      {{/unless}}
    {{/each}}
  </ul>
</script>
<script>
  {
    const target = $(document.currentScript).wrapAll('<div>').parent()
    fetch("https://api.github.com/orgs/biggis-project/repos")
      .then(response => response.json())
      .then(json => {
        const template = Handlebars.compile($("#tpl-github-org-repos").html())
        const sorted = json.sort((a,b) => a.name.localeCompare(b.name))
        target.html(template(sorted))
      })
  }
</script>
{% endraw %}
