{% raw %}
<script id="tpl-github-org-members" type="text/x-handlebars-template">
  {{#each . }}
    <a href="{{html_url}}" target="_blank"><img src="{{avatar_url}}" alt="{{login}}" class="img-circle" width="100" height="100"/></a>
  {{/each}}
</script>
<script>
  {
    const target = $(document.currentScript).wrapAll('<div>').parent()
    const template = Handlebars.compile($("#tpl-github-org-members").html())

    fetch("https://api.github.com/orgs/biggis-project/members")
      .then(response => response.json())
      .then(json => {
        const sorted = json.sort((a, b) => a.id - b.id)
        target.html(template(sorted))
      })
  }
</script>
{% endraw %}
