{% raw %}
<style>
  .archived td {
    background-color: lightpink;
  }
</style>
<script id="repo-status-contrib-tpl" type="text/x-handlebars-template">
  {{#each . }}
  <a href="{{url}}">{{login}}</a><br/>
  {{/each}}
</script>

<script id="repo-status-tpl" type="text/x-handlebars-template">

  <table>
    <tr>
      <th>Repository</th>
      <th>Contributors</th>
      <th>Description</th>
    </tr>
    {{#each . }}
    {{#unless private}}
    <tr class="{{#if archived}}archived{{/if}}">
      <td><a href="{{html_url}}">{{name}}</a></td>
      <td id="#repo{{id}}">
        loading...
      </td>
      <td>
        {{description}}<br/>
        <a href="{{html_url}}/issues">Issues: {{open_issues}}</a>
      </td>
    </tr>
    {{/unless}}
    {{/each}}
  </table>

</script>
<script>
  {
    const target = $(document.currentScript).wrapAll('<div>').parent()

    async function fetchGithubData() {
      const json = await fetch("https://api.github.com/orgs/biggis-project/repos").then(_ => _.json())
      const sorted = json.sort((a, b) => a.name.localeCompare(b.name))

      const template = Handlebars.compile($("#repo-status-tpl").html())
      target.html(template(sorted))

      // loading contributors asynchronously
      const contribTemplate = Handlebars.compile($("#repo-status-contrib-tpl").html())
      for(i in sorted) {
        const repo = sorted[i]
        const contrib_url = repo.contributors_url.replace(/\{.*\}/)
        const contrib_json = await fetch(contrib_url).then(_ => _.json())
        const div = document.getElementById(`#repo${repo.id}`)
        div.innerHTML = contribTemplate(contrib_json)
        console.log(div)
      }
    }

    fetchGithubData()
  }
</script>
{% endraw %}
