{% raw %}
<script id="table-tpl" type="text/x-handlebars-template">
  <table>
    <tr>
      <th>Date</th>
      <th>Author(s)</th>
      <th>Title / Link</th>
    </tr>
    {{#each . }}
    <tr>
      <td>{{date}}</td>
      <td>
        {{#each authors}}
          <span class="text-nowrap">{{.}}{{#unless @last}},{{/unless}}</span>
        {{else}}
          <span class="text-nowrap">{{authors}}</span>
        {{/each}}
      </td>
      <td>
        {{#if link}}
          &nbsp;<a href="{{link}}" class="pull-right"><span class="glyphicon glyphicon-new-window"></span></a>
        {{/if}}
        {{#if pdf}}
          &nbsp;<a href="{{pdf}}" class="pull-right"><span class="glyphicon glyphicon-file"></span></a>
        {{/if}}
        {{title}}.
      </td>
    </tr>
    {{/each}}
  </table>
</script>
