<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>BigGIS Project - {{ page.title }}</title>
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/vsimko/biggis-web">View on GitHub</a>

          <h1 id="project_title">BigGIS Project</h1>
          <h2 id="project_tagline">Prädiktive und präskriptive Geoinformationssysteme basierend auf hochdimensionalen geotemporalen Datenstrukturen</h2>

          <section id="mainmenu">
             <a href="index.html">About</a> | 
             <a href="consortium.html">Consortium</a> |
             <a href="docs.html">Documentation</a>
          </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <p class="copyright">
                BigGIS Project website maintained by <a href="https://github.com/vsimko">Viliam Simko</a>
                <br /><strong><a href="https://www.fzi.de/footer/impressum/">Impressum</a>:</strong> FZI Forschungszentrum Informatik am Karlsruher Institut für Technologie
            </p>
        </footer>
    </div>

  </body>
</html>
